#container
	max-width 800px
	width 100%
	margin-left auto
	margin-right auto

#content
	padding .5em

.pure-table
	width 100%
	overflow hidden
	border 1

.tool-name
	font-weight bold
	font-size large

.tool-tags
	font-weight lighter
	font-size small